<% title "Ингредиент" %>

<p>
  <strong>Name:</strong>
  <%=h @ingredient.name %>
</p>
<p>
  <strong>Category:</strong>
  <%=h @ingredient.category %>
</p>

<p>
  <%= link_to "Edit", edit_ingredient_path(@ingredient) %> |
  <%= link_to "Destroy", @ingredient, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", ingredients_path %>
</p>
