<% title "Блюда" %>

<table>
  <tr>
    <th>Фото</th>
    <th>Название</th>
    <th>Категория</th>
    <th>Описание</th>
    <th>Цена</th>
  </tr>
  <% for dish in @dishes %>
    <% unless dish.available %> <tr class="unavaliable"> <% else %><tr><%  end %>
      <td><%= image_tag dish.photo.url(:small) if dish.photo? %></td>
      <td><%=h dish.name %></td>
      <td><%=h dish.category.name %></td>
      <td><%=h dish.desc %></td>
      <td><%=h dish.price %><span class="rur">p<span>уб.</span></span></td>
      <td><%= link_to "Показать", dish %></td>
      <td><%= link_to "Изменить", edit_dish_path(dish) %></td>
      <td><%= link_to "Удалить", dish, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Новое блюдо", new_dish_path %></p>
