<% title "Блюда" %>

<%= stylesheet_link_tag 'prototype-ui' %>





<div id="horizontal_carousel">
  <div class="previous_button"></div>
    <div class="container">

      <ul>
        <% for dish in @dishes %>
          <li>
            <%= image_tag dish.photo.url(:normal) if dish.photo? %><br />
            <h1><%=h dish.name %></h1>
            <%=h dish.desc %>
            <%=h dish.price %><span class="rur">p<span>уб.</span></span>

            <br />
            <span id="button"><%= link_to "Подробнее", dish %></span><br />
            <span id="button"><%= link_to "Взять", dish %></span>
          </li>
        <% end %>
      </ul>

    </div>
  <div class="next_button"></div>
</div>


<%= javascript_tag "
      function runTest() {
              hCarousel = new UI.Carousel('horizontal_carousel');
      }
      Event.observe(window, 'load', runTest);
    "
%>

