<% title "Блюдо" %>

<p>
  <strong>Название:</strong>
  <%=h @dish.name %>
</p>
<p>
  <strong>Категория:</strong>
  <%=h @dish.category.name %>
</p>
<p>
  <strong>Описание:</strong>
  <%=h @dish.desc %>
</p>
<p>
  <strong>Цена:</strong>
  <%=h @dish.price %>
</p>
<p>
  <strong>Доступно:</strong>
  <%=h @dish.available %>
</p>

<ul>
  <strong>Ингридиенты:</strong>
  <% for composition in @dish.compositions %>
    <li><%= composition.ingredient_name %>, <%= composition.quantity %></li>
  <% end %>
</ul>

<p>
  <%= link_to "Изменить", edit_dish_path(@dish) %> |
  <%= link_to "Удалить", @dish, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Вернуться назад", dishes_path %>
</p>
