<% title @dish.name %>


<p>
  <strong>Категория:</strong>
  <%=h @dish.category.name %>
</p>
<p>
  <strong>Описание:</strong>
  <%=h @dish.desc %>
</p>

<p>
  <%= image_tag @dish.photo.url(:normal) if @dish.photo? %>
</p>

<p>
  <strong>Цена:</strong>
  <%=h @dish.price %>
</p>
<p>
  <strong>Доступно:</strong>
  <%=h @dish.available %>
</p>

  <strong>Ингредиенты:</strong>
  <ul>
  <% for composition in @dish.compositions %>
    <li><%= composition.ingredient_name %>, <%= composition.quantity %></li>
  <% end %>
  </ul>

<p>
  <%= link_to "Изменить", edit_dish_path(@dish) %> |
  <%= link_to "Удалить", @dish, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Вернуться назад", dishes_path %>
</p>
