<% title "Разделы меню" %>

<table>
  <tr>
    <th>Parent</th>
    <th>Name</th>
  </tr>
  <% for category in @categories %>
    <tr>
      <td><%=h category.parent_id %></td>
      <td><%=h category.name %></td>
      <td><%= link_to "Показать", category %></td>
      <td><%= link_to "Изменить", edit_category_path(category) %></td>
      <td><%= link_to "Удалить", category, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Новый раздел", new_category_path %></p>
