<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'cart' %>
    <%= stylesheet_link_tag 'menu' %>
    <%= stylesheet_link_tag 'category_menu' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "carousel"  %>
    <%= yield(:head) %>
  </head>
  <body>



    <div id="wrap">

      <table class="main_table">
        <tr>
          <td class="category_menu">
              <%= render(:partial => "category" , :object => @categories) %>
          </td>
          <td class="content">
              <%- flash.each do |name, msg| -%>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              <%- end -%>

            <%= yield %>


          </td>
        </tr>
      </table>

      <div id="cart">
        <%= render(:partial => "cart" , :object => @cart) %>
      </div>    

  
  </body>
</html>
