<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag :defaults %>
    <%= yield(:head) %>
  </head>
  <body>



    <div id="wrap">
      <div id="container">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>

        <% unless current_user %>
        <div id="menu">
          <%= link_to 'Представиться', login_path %>
        </div>
        <% else %>
          <%= link_to 'Выйти', logout_path %>
        <%  end %>

        <%- if show_title? -%>
          <div id="title"><h1><%=h yield(:title) %></h1>
            <b class="left"></b><b class="right"></b>
          </div><div class="clear"></div>
        <%- end -%>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
